body { 
	width: auto; 
	margin: 0 2%; 
	background: #f0efe7;
	color: #333;
	font-family: Cantarell, "Helvetica Neue", Arial, Helvetica sans-serif; 
}
@media screen and (min-width: 1024px) {
  body {
    width: 940px;
	margin: 0px auto; 
  }
}

.column { margin-bottom: 1.5rem; }

@media (min-width: 40rem) {
  .column {
    float: left;
    margin: 0 0 1.5rem 0;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}

h1 {
font-size: 2em;
font-weight: bold;
margin-bottom: 10px;
}

a {color: #333; text-decoration-color: #ccc;}

dl {
}
dt {
    float: left;
    clear: left;
    width: 8em;
    font-weight: bold;
}
dd {
    margin: 0 0 0 9em;
    padding: 0 0 0.5em 0;
}
  
/*
 Top-of-page header
*/
#header {
  margin-top: 14px;
	position: relative;
	padding-bottom: 26px;
}
#header a { color: #333; text-decoration: none;}

#title {
	font-weight: bold;
	font-size: 1.8em;
	color: #c00;
	position: absolute;
	top: 12px;
	left: 65px;
}

#sub {
	font-weight: bold;
	font-size: 1.3em;
	color: #c00;
	position: absolute;
	top: 19px;
	left: 200px;
}

#mainnav ul {
	margin: auto;
	margin-right: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}

#mainnav ul li {
	margin: auto 15px;
}

#mainnav ul li a {
	display: inline-block;
	padding: 0;
	font-size: 16px;
	line-height: 56px;
	color: #333;
}

/*
 Main text section
*/
.text {
	clear: both;
	font-size: 1.05em;
}

.text img {
	float: right;
	margin: 25px 70px;
}

.text li {
  margin-top: 1em;
}

.p-hdr {
  font-weight: bold;
}

/*
  nav styling for icon-oriented navigation blocks
*/
ul.nav {
	clear:both;
	margin-top: 3em;
}
ul.nav li {
  display: block;
	width: 280px;
	float: left;
	margin-top: 0;
	margin-bottom: 40px;
	margin-right: 30px;
	line-height: 22px;
}
ul.nav li a {
	height: 86px;
	display: block;
	color: #4e443c;
	padding-left: 90px;
}
ul.nav li img {
  margin-left: -90px;
	margin-right: -90px;
	float: left;
	opacity: 0.9;
}
ul.nav li h3 {
	font-size: 18px;
	font-weight: bold;
	color: #f14e32;
	line-height: 33px;
	margin:0;
}
ul.nav li p {
	font-size: 13px;
	line-height: 17.6px;
	margin: 0 0 11px;
}

.color {color: #c00;}

.pre {
	color: #c00;
}

pre {
tab-size: 4;
font-size: 1em;
padding: 5px;
background-color: #e0d8d8;
color: #333333;
line-height: 120%;
border: 1px solid #e0d0d0;
}
